<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.user.merge-minion</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/env</string>
    <string>npx</string>
    <string>tsx</string>
    <string>/Users/tangent.lin/Development/os/merge-minion/src/index.ts</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/tangent.lin/Development/os/merge-minion</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>HOME</key>
    <string>/Users/tangent.lin</string>
  </dict>

  <key>StartInterval</key>
  <integer>300</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/Users/tangent.lin/Library/Logs/merge-minion.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/tangent.lin/Library/Logs/merge-minion.err.log</string>

  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
